[submodule "spack"]
  path = spack
  url = https://github.com/kgerheiser/spack.git
  branch = bugfix/openmpi-compiler-detection
  #url = https://github.com/NOAA-EMC/spack.git
  #branch = jcsda_emc_spack_stack
